.card{
  background:#0d122f;
  padding:40px;
  border-radius:12px;
  border:1px solid #1b1f48;
  margin-top:20px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-6px);
  border-color:#1d7dfa;
}
