.header{
  width:100%;
  padding:14px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fff;
  border-bottom:1px solid #ddd;
  position:sticky;
  top:0;
  z-index:20;
}

.nav-left{display:flex;align-items:center;gap:10px;}
.logo{height:34px;}
.brand{font-size: 26px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; }
.sub{ color:#0b3c78;}
.ven{ color:#1e9b2c; }
.nav-menu{display:flex;gap:35px;list-style:none;}
.nav-menu a{text-decoration:none;color:#111;}
.nav-menu a:hover{color:#1d7dfa;}

.dropdown{position:relative;}
.dropdown-menu{
  position:absolute;
  background:white;
  padding:10px 0;
  border-radius:6px;
  border:1px solid #ddd;
  display:none;
  flex-direction:column;
}
.dropdown:hover .dropdown-menu{display:flex;}

.nav-right{display:flex;gap:10px;align-items:center;}
.btn-blue{background:#1d7dfa;color:white;padding:9px 18px;border-radius:6px;border:none;}
.btn-green{background:#8bc500;color:white;padding:9px 18px;border-radius:6px;border:none;}
.search-dropdown:hover .right-menu{display:flex;}

.hamburger{display:none;font-size:25px;cursor:pointer;}

/* MOBILE PANEL */
.mobile-menu{
  position:fixed;
  top:0;
  right:-300px;
  width:280px;
  height:100vh;
  background:white;
  padding:20px;
  transition:0.4s;
}
.mobile-menu.open{right:0;}
.mobile-item{padding:12px 0;border-bottom:1px solid #ddd;cursor:pointer;color:black;}
.mobile-dropdown{padding-left:15px;display:flex;flex-direction:column;}
.close-btn{text-align:right;font-size:20px;cursor:pointer;color:black;}

/* Responsive */
@media(max-width:900px){
  .nav-menu,.btn-blue,.btn-green{display:none;}
  .hamburger{display:block;}
}

/* MAIN NAV LINKS */
.nav-link{
  text-decoration:none;
  color:#111;
  font-size:15px;
  font-weight:500;
}

.nav-link:hover{
  color:#1d7dfa;
}

/* DESKTOP DROPDOWN LINKS */
.dropdown-link{
  padding:10px 18px;
  text-decoration:none;
  color:#222;
  font-size:14px;
}

.dropdown-link:hover{
  background:#f3f6ff;
  color:#1d7dfa;
}

/* MOBILE LINKS */
.mobile-link{
  text-decoration:none;
  color:#111;
  padding:10px 0;
}

.mobile-link:hover{
  color:#1d7dfa;
}




/*///////////////////////////////// FOOTER ///////////////////////////////*/

.footer{
  background:#2b313b;
  padding:60px 5% 25px;
  color:white;
}

.footer-top{
  display:flex;
  justify-content:space-between;
  gap:50px;
  flex-wrap:wrap;
}

/* LEFT */
.footer-logo{
  height:38px;
  margin-bottom:15px;
}

.footer-title{
  margin:15px 0;
  font-size:18px;
}

.newsletter{
  display:flex;
  gap:10px;
  margin:10px 0 15px;
}

.newsletter input{
  padding:10px 14px;
  width:250px;
  border-radius:5px;
  border:none;
  outline:none;
}

.newsletter button{
  padding:10px 18px;
  border-radius:5px;
  border:2px solid white;
  background:transparent;
  color:white;
  cursor:pointer;
}

.policy-text{
  font-size:12px;
  opacity:0.8;
}

.policy-text span{
  color:#5bb4ff;
  cursor:pointer;
}

/* COLUMNS */
.footer-columns{
  display:flex;
  gap:80px;
  flex-wrap:wrap;
}

.footer-columns h4{
  margin-bottom:10px;
}

.footer-columns a{
  display:block;
  color:white;
  text-decoration:none;
  margin:6px 0;
  opacity:0.9;
}

.footer-columns a:hover{
  color:#7ad000;
}

.footer-columns p{
  margin:6px 0;
  display:flex;
  align-items:center;
  gap:6px;
}

/* EQUALITY LINE */
.equal-text{
  text-align:center;
  margin:40px 0 10px;
  opacity:0.9;
}

.separator{
  height:1px;
  width:100%;
  background:linear-gradient(90deg,#7ad000,#1d7dfa);
  margin:10px 0 20px;
}

/* BOTTOM */
.footer-bottom{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  opacity:0.9;
}

.footer-bottom a{
  color:white;
  text-decoration:none;
}

/* RESPONSIVE */
@media(max-width:900px){
  .footer-top{
    flex-direction:column;
  }

  .newsletter{
    flex-direction:column;
    width:100%;
  }

  .newsletter input{
    width:100%;
  }

  .footer-columns{
    gap:40px;
  }

  .footer-bottom{
    flex-direction:column;
    gap:5px;
    text-align:center;
  }
}
