*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins";
}

body{
  background:#070b1f;
  color:white;
}



section{
  padding:80px 10%;
}

/* Gradient Headings */
.gradient-title{
  background:linear-gradient(90deg,#1d7dfa,#7ad000);
  -webkit-background-clip:text;
  color:transparent;
}

/* Fade Animation */
.fade-in{
  animation:fadeIn 1s ease forwards;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}
